body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #0056b3;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo {
    padding-left: 12%;
    padding-right: 3%;
    
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #003366;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background-color: #0073e6;
}

main {
    padding: 20px;
}

.container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h2 {
    
    color: white;
}

.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}

.headerdivh2{
    line-height: 0px;
}

.devansh {
    line-height: 0px;
}
.org{
    font-style: italic;
    margin-top: 30px;
}
.brochure {
    /*align-items: center;
    justify-content: center;
    padding-left: 17%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.h2heading {
    justify-content: center;
    text-align: center;
    color:#0073e6;
}

.paragraph {
    /*width: 50%;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

.box {
    box-shadow: #0056b3;
    border: #003366;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:2px solid blue;
}

pre {
    font-size: large;
    font-family: Arial, sans-serif;
}

p {
    font-size: large;
    font-family: Arial, sans-serif;
}

.registrationButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


.buttonClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:30px;
    font-family:Arial;
    height: 30px ;
    width: 200px;
    padding: 15px ;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:black;
    text-decoration: none;
  }
  
  .buttonClass:hover {
    background: linear-gradient(#408c99, #599bb3);
  }

  .registrationimg{
    display: block;
    height: 250px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 30px;
  }

  .map {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
                